.container{
  position: relative;
  width: 1280px;
  height: 5893px;
  left: 75px;
  
  background: #FFFFFF;
}

.header{
position: absolute;
width: 1280px;
height: 100px;
left: 10px;
top: 0px;

background: #FFFFFF;
}

.txt-1{

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;

text-align: center;
letter-spacing: 0.24em;
text-transform: uppercase;

color: #C4C4C4;


flex: none;
order: 0;
flex-grow: 0;
}

.txt-2{

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;


text-align: center;
letter-spacing: 0.24em;
text-transform: uppercase;

color: #C4C4C4;

flex: none;
order: 0;
flex-grow: 0;
}

.txt-3{

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;


text-align: center;
letter-spacing: 0.24em;
text-transform: uppercase;



color: #C4C4C4;


flex: none;
order: 0;
flex-grow: 0;
}

.btn-demo{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 180px;
height: 32px;



background: #E9520B;
border-radius: 4px;

flex: none;
order: 3;
flex-grow: 0;
}

.txt-4{
position: absolute;
width: 499px;
height: 288px;
left: 103px;
top: 143px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 72px;



color: #414141;

}

.line-1{
position: absolute;
width: 100px;
height: 0px;
left: 106px;
top: 455px;

border: 3px solid #000000;
background-color: #000000;
}

.txt-5{
  position: absolute;
width: 318px;
height: 120px;
left: 106px;
top: 505px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
/* or 133% */


color: #9F9F9F;
}

.btn-home{
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 10px;

position: absolute;
width: 307px;
height: 54px;
left: 106px;
top: 649px;

background: #E9520B;

border: 1px solid #E9520B;
border-radius: 4px;
}

.txt-home{
  
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 54px;


letter-spacing: 0.24em;
text-transform: uppercase;

color: #FFFFFF;

flex: none;
order: 0;
flex-grow: 0;
}

.home{
  /* Rectangle 2 */


position: absolute;
width: 678px;
height: 620px;
left: 602px;
top: 100px;

background: url(../public/assets/img/home.png);
}

.rect3{
  position: absolute;
width: 205px;
height: 205px;
left: 430px;
top: 816px;

/* Orange 500 */

background: #E9520B;
}

.txt-rect3{
  position: absolute;
width: 167px;
height: 72px;
left: 456px;
top: 841px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;

color: #FFFFFF;
}

.line-3{
  position: absolute;
width: 100px;
height: 0px;
left: 331px;
top: 919px;

border: 3px solid #414141;
background-color: #414141;
}

.rect4{
  position: absolute;
width: 205px;
height: 205px;
left: 225px;
top: 1021px;

background: linear-gradient(180deg, #E5E5E5 0%, #FFFFFF 100%);
}

.txt-rect4{
  position: absolute;
width: 176px;
height: 72px;
left: 254px;
top: 1043px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;

color: #414141;

}

.no-rect3{
  position: absolute;
width: 101px;
height: 72px;
left: 528px;
top: 942px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 100px;
line-height: 72px;
/* identical to box height, or 72% */


color: rgba(255, 255, 255, 0.5);

}

.no-rect4{
  position: absolute;
width: 123px;
height: 72px;
left: 300px;
top: 1138px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 100px;
line-height: 72px;
/* identical to box height, or 72% */


color: #E5E5E5;

}

.rect5{
  position: absolute;
width: 205px;
height: 205px;
left: 430px;
top: 1021px;

background: linear-gradient(180deg, #E5E5E5 0%, #FFFFFF 100%);
}

.txt-rect5{
  position: absolute;
width: 143px;
height: 72px;
left: 456px;
top: 1043px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;

color: #414141;

}

.no-rect5{
  position: absolute;
width: 125px;
height: 72px;
left: 504px;
top: 1138px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 100px;
line-height: 72px;

color: #E5E5E5;

}

.txt-work1{
  position: absolute;
width: 325px;
height: 144px;
left: 702px;
top: 855px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 72px;


color: #414141;

}

.txt-work2{
  position: absolute;
width: 240px;
height: 64px;
left: 702px;
top: 1034px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 32px;


color: #9F9F9F;
}

.txt-meet1{

position: absolute;
width: 398px;
height: 144px;
left: 167px;
top: 1351px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 72px;


text-transform: capitalize;

color: #414141;
}

.btn-work{
  box-sizing: border-box;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 10px;

position: absolute;
width: 307px;
height: 54px;
left: 702px;
top: 1123px;



background: #E9520B;


border: 1px solid #E9520B;
border-radius: 4px;
}

.work-txt-btn{
  width: 241px;
height: 54px;


font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 54px;

letter-spacing: 0.24em;
text-transform: uppercase;


color: #FFFFFF;


flex: none;
order: 0;
flex-grow: 0;
}

.txt-meet2{

  position: absolute;
  width: 303px;
  height: 96px;
  left: 169px;
  top: 1512px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  
  
  color: #9F9F9F;
  
}

.btn-meet{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 16px 10px 8px;

position: absolute;
width: 191px;
height: 54px;
left: 167px;
top: 1620px;

border-radius: 4px;
}

.txt-btn-meet{
  width: 121px;
height: 54px;

/* Button/Medium/Reg */

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 54px;
/* identical to box height, or 225% */

letter-spacing: 0.24em;
text-transform: uppercase;

/* Orange 500 */

color: #E9520B;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px -3px;
}

.mandiri{
  position: absolute;
width: 120px;
height: 62.76px;
left: 640px;
top: 1379px;

background: url(/public/assets/img/mandiri.png);
}

.amartha{
  position: absolute;
width: 120px;
height: 41.76px;
left: 778px;
top: 1389px;

background: url(/public/assets/img/amartha.png);
}

.paxel{
  position: absolute;
width: 120px;
height: 60.5px;
left: 916px;
top: 1380px;

background: url(/public/assets/img/paxel.png);
}

.wahyoo{
  position: absolute;
width: 120px;
height: 73.56px;
left: 640px;
top: 1471px;

background: url(/public/assets/img/wahyoo.png);
}

.cisco{
  position: absolute;
width: 120px;
height: 97.1px;
left: 778px;
top: 1459px;

background: url(/public/assets/img/cisco.png);
}

.legoas{
  position: absolute;
width: 120px;
height: 61.53px;
left: 916px;
top: 1477px;

background: url(/public/assets/img/legoas.png);
}

.lubna{
  position: absolute;
width: 120px;
height: 64.73px;
left: 640px;
top: 1581px;

background: url(/public/assets/img/lubna.png);
}

.riliv{
  position: absolute;
width: 80px;
height: 80px;
left: 778px;
top: 1573px;

background: url(/public/assets/img/riliv.png);
}

.unai{
  position: absolute;
width: 120px;
height: 53.91px;
left: 916px;
top: 1586px;

background: url(/public/assets/img/unai.png);
}

.weDo1{
  position: absolute;
width: 281px;
height: 187px;
left: 167px;
top: 1820px;

background: url(/public/assets/img/weDo1.png);
border-radius: 24px;
}

.weDo2{
  position: absolute;
width: 281px;
height: 245px;
left: 167px;
top: 2033px;

background: url(/public/assets/img/weDo2.png);
border-radius: 24px;
}

.weDo3{
  position: absolute;
width: 281px;
height: 381px;
left: 465px;
top: 1819px;

background: url(/public/assets/img/weDo3.png);
border-radius: 24px;
}

.btn-wedo{
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 10px;

position: absolute;
width: 275px;
height: 54px;
left: 466px;
top: 2224px;

/* Orange 500 */

background: #E9520B;
/* Orange 500 */

border: 1px solid #E9520B;
border-radius: 4px;
}

.txt-btn-wedo{
  height: 54px;

  /* Button/Medium/Reg */
  
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 54px;
  /* identical to box height, or 225% */
  
  letter-spacing: 0.24em;
  text-transform: uppercase;
  
  /* White */
  
  color: #FFFFFF;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

.txt-wedo1{
  position: absolute;
width: 242px;
height: 144px;
left: 856px;
top: 1827px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 72px;
/* or 112% */


color: #414141;

}

.list-media{
  position: absolute;
width: 257px;
height: 240px;
left: 857px;
top: 1988px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 60px;
/* or 333% */


color: #444444;

}

.icon-btn{
  width: 24px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.icon1{
  position: absolute;
  
  background: #E9520B;
}

.banner-home{
  position: absolute;
width: 1280px;
height: 529px;
left: 25px;
top: 3040px;

/* Orange 500 */

background: #E9520B;
}

.txt-banner{
  width: 424px;
height: 144px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 72px;
/* or 112% */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.frame-txt-banner{
  display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 30px;

position: absolute;
width: 424px;
height: 369px;
left: 80px;
top: 80px;

}

.txt-banner1{
  width: 356px;
height: 96px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 32px;
/* or 178% */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.btn-banner{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 300px;
height: 54px;

background: #FFD966;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.txt-btn-banner{


/* Button/Medium/Reg */

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 54px;
/* identical to box height, or 225% */

letter-spacing: 0.24em;
text-transform: uppercase;

color: #444444;
}

.phone1{
  position: absolute;
width: 235px;
height: 439px;
left: 571px;
top: 42px;

background: url(/public/assets/img/phone1.png);
}

.phone2{
  /* 5787627-removebg-preview 3 */
  position: absolute;
  width: 235px;
  /* height: 439px; */
  left: 824px;
  /* top: -229px; */
  
  background: url(/public/assets/adp/hp2.png);
}

.layar2{
  position: absolute;
  width: 199px;
  height: 110px;
  left: 842px;
  top: 0px;
  background: url(/public/assets/adp/layar2.png);
}

.phone3{
  position: absolute;
/* width: 235px; */
height: 439px;
left: 1073px;
top: 42px;

background: url(/public/assets/adp/hp3.png);
}



.layar3{
  position: absolute;
width: 188px;
height: 386px;
left: 1092px;
top: 84px;

background: url(/public/assets/adp/layar3.png);
border-radius: 0px 0px 0px 16px;
}

.phone4{
  position: absolute;
  width: 235px;
  /* height: 439px; */
  left: 824px;
  top: 250px;
  
  background: url(/public/assets/adp/hp4.png);
}

.layar4{
  position: absolute;
  width: 197px;
  /* height: 360px; */
  left: 844px;
  top: 291px;

background: url(/public/assets/adp/layar4.png);
}

/* agy */

.txt-box {
  left: 98px;
  top: 149px;
}

.h1a {
  position: absolute;
  left: 98px;
  top: 149px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 72px;
  color: #414141;
  }

  .h1b {
    position: absolute;
    left: 98px;
    top: 865px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 72px;
    color: #414141;
    }

.styletxt-1 {
  position: absolute;
  left: 98px;
  top: 245px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #9F9F9F;
}

.styletxt-2 {
  position: absolute;
  width: 881px;
  height: 48px;
  left: 98px;
  top: 961px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #9F9F9F;
}

.styletxt-3{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 72px;
  text-align: center;
  color: #414141;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.styletxt-4 {
  width: 921px;
  height: 48px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #9F9F9F;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.styletxt-5 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}


.gmbr-1 {
  position: absolute;
  width: 480px;
  height: 344px;
  left: 98px;
  top: 301px;
  background: linear-gradient(0deg, rgba(68, 68, 68, 0.25), rgba(68, 68, 68, 0.25));
  border-radius: 8px;
}

.gmbr-2 {
  position: absolute;
  width: 277px;
  height: 160px;
  left: 602px;
  top: 301px;
  border-radius: 8px;
}

.gmbr-3{
  position: absolute;
  width: 277px;
  height: 160px;
  left: 602px;
  top: 485px;
  border-radius: 8px;
}

.gmbr-4 {
  position: absolute;
  width: 277px;
  height: 160px;
  left: 903px;
  top: 301px;
  border-radius: 8px;
}

.gmbr-5 {
  position: absolute;
  width: 277px;
  height: 160px;
  left: 903px;
  top: 485px;
  border-radius: 8px;
}

.gmbr-6 {
  position: absolute;
  width: 252px;
  height: 160px;
  left: 101px;
  top: 669px;
  border-radius: 8px;
}

.gmbr-7 {
  position: absolute;
  width: 252px;
  height: 160px;
  left: 377px;
  top: 669px;
  border-radius: 8px;
}

.gmbr-8 {
  position: absolute;
  width: 253px;
  height: 160px;
  left: 653px;
  top: 669px;
  border-radius: 8px;
}

.gmbr-9 {
  position: absolute;
  width: 252px;
  height: 160px;
  left: 930px;
  top: 669px;
  border-radius: 8px;
}

.gmbr-10 {
  position: absolute;
  width: 338px;
  height: 235px;
  left: 101px;
  top: 1017px;
  border-radius: 8px;
}

.gmbr-11 {
  position: absolute;
  width: 338px;
  height: 235px;
  left: 472px;
  top: 1017px;
  border-radius: 8px;
}

.gmbr-12 {
  position: absolute;
  width: 340px;
  height: 235px;
  left: 842px;
top: 1017px;
  border-radius: 8px;
}

.box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 80px;
  gap: 30px;
  position: absolute;
  width: 1081px;
  height: 330px;
  left: 101px;
  top: 1301px;
  background: #FFEFE8;
}

.box-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;
  width: 283px;
  height: 54px;
  background: #E9520B;
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.flx-1 {
  left: 101px;
top: 669px;
}

.container-order {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  position: absolute;
  width: 678px;
  height: 1200px;
  left: 301px;
  top: 149px;
}

.container-paket {
  width: 1280px;
  height: 934px;
  background: #E5E5E5;
}

.frm-o-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 678px;
  height: 72px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.frm-p-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
  position: absolute;
  width: 671px;
  height: 716px;
  left: 305px;
  top: 123px;
  background: #FFFFFF;
  border-radius: 8px;
}

.frm-p-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 24px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.frm-p-3 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  gap: 33px;
  width: 623px;
  height: 230px;
  background: #F9F7F7;
  border: 1px solid #CED2D3;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.garis-2 {
  background: #F2F1F1;
  width: 671px;
  height: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.txt-o-1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 72px;
  color: #414141;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.txt-o-2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  color: #E9520B;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.txt-o-3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 72px;
  color: #414141;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.txt-o-4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #414141;
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

.box-o-1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  gap: 33px;
  width: 678px;
  height: 230px;
  background: #F9F7F7;
  border: 1px solid #CED2D3;
  border-radius: 8px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.box-o-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 256px;
  height: 161px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.box-o-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 24px;
  gap: 21px;
  width: 251px;
  height: 182px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.box-o-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 148px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.box-o-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 678px;
  height: 88px;
  flex: none;
  order: 4;
  flex-grow: 0;
}

.garis {
  width: 2px;
  height: 182px;
  background: #D9D9D9;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.styletxt-6 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  letter-spacing: -0.531474px;
  color: #E9520B;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.styletxt-7 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #455A64;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.styletxt-8 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #455A64;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.styletxt-9 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #455A64;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.styletxt-10 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #455A64;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.styletxt-11 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #414141;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.styletxt-12 {
  font-family: 'Poppins';
  font-style: normal;
  
  font-size: 12px;
  line-height: 24px;
  color: #414141;
  flex: none;
  order: 9;
  align-self: stretch;
  flex-grow: 0;
}

.styletxt-13 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.styletxt-14 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  text-transform: capitalize;
  color: #444444;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.btn-order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;
  width: 678px;
  height: 74px;
  background: #E9520B;
  border-radius: 4px;
  flex: none;
  order: 10;
  align-self: stretch;
  flex-grow: 0;
}
.everiting{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 21px;

position: absolute;
width: 1108px;
height: 369px;
left: 93px;
top: 2508px;
}

.txt-everiting{
  /* Everything You Need */


width: 424px;
height: 144px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 72px;
/* or 112% */


color: #414141;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.txt-kecil-everiting{width: 356px;
  height: 96px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  
  
  color: #9F9F9F;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
  
}

.btn-everiting{
  display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px 10px 0px;
gap: 24px;

width: 305px;
height: 54px;

border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.tmbl-everiting{
  width: 241px;
height: 54px;

/* Button/Medium/Reg */

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 54px;
/* identical to box height, or 225% */

letter-spacing: 0.24em;
text-transform: uppercase;

/* Orange 500 */

color: #E9520B;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.frame-everiting{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 48px;

width: 321px;
height: 363px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.frame-1-everiting{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 28px;

width: 321px;
height: 89px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.frame-1-img{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px;
gap: 10px;

width: 56px;
height: 56px;

/* Orange 10 */

background: #FFEFE8;
border-radius: 50px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.img1{
  width: 24px;
height: 24px;

background: url(/public/assets/adp/image1.png);

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.frame-1{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 237px;
height: 89px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.txt-frame1{
  width: 237px;
  height: 27px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  
  
  color: #414141;
  }

.txt-frame1-kecil{
  width: 237px;
  height: 54px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  
  color: #9F9F9F;
  
  
  /* Inside auto layout */
}


.frame-2-everiting{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 28px;

width: 321px;
height: 89px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.frame-2-img{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px;
gap: 10px;

width: 56px;
height: 56px;

/* Orange 10 */

background: #FFEFE8;
border-radius: 50px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.img2{
  width: 24px;
height: 24px;

background: url(/public/assets/adp/image2.png);

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.frame-2{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 237px;
height: 89px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.frame-3-everiting{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 28px;

width: 321px;
height: 89px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.img3{
  width: 24px;
height: 24px;

background: url(/public/assets/adp/image3.png);

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.frame-everiting-1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
  
  width: 321px;
  height: 369px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.frame-4-everiting{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 28px;

width: 321px;
height: 71px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.img4{
  width: 24px;
height: 24px;

background: url(/public/assets/adp/image4.png);

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.img5{
  width: 24px;
height: 24px;

background: url(/public/assets/adp/image5.png);

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.img6{
  width: 24px;
height: 24px;

background: url(/public/assets/adp/image6.png);

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.frame-5-everiting{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 28px;

width: 321px;
height: 89px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.frame-6-everiting{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 28px;

width: 321px;
height: 89px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.txt-plans{
  position: absolute;
width: 491px;
height: 144px;
left: 394px;
top: 3756px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 72px;
/* or 112% */

text-align: center;

color: #414141;
}

.subs{
  position: absolute;
width: 1019px;
height: 545px;
left: 142px;
top: 3968px;
}

.subs1{
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 24px;
gap: 33px;

position: absolute;
width: 317px;
height: 545px;
left: 0px;
top: 0px;

background: #F9F7F7;
/* Black 20 */

border: 1px solid #CED2D3;
border-radius: 8px;
}

.subs1-harga{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 256px;
height: 161px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.txt-harga{
  width: 113px;
height: 39px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 39px;
/* identical to box height */

text-align: center;
letter-spacing: -0.531474px;

/* Orange 500 */

color: #E9520B;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.txt-harga1{
  /* $29/month */


width: 174px;
height: 23px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
text-align: center;

/* Black 100 */

color: #455A64;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.txt-harga2{
  width: 256px;
height: 52px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
/* identical to box height */


/* Black 100 */

color: #455A64;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.txt-harga3{
  /* $29/month */


width: 66px;
height: 23px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
text-align: center;

/* Black 100 */

color: #455A64;


/* Inside auto layout */

flex: none;
order: 3;
flex-grow: 0;
}

.btn-harga{
  /* Button */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 269px;
height: 54px;

background: #FFFFFF;
/* Orange 500 */

border: 1px solid #E9520B;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.txt-btn-harga{
  /* button */


width: 77px;
height: 54px;

/* Button/Medium/Reg */

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 54px;
/* identical to box height, or 225% */

letter-spacing: 0.24em;
text-transform: uppercase;

/* Orange 500 */

color: #E9520B;
}

.rectangle{
  width: 269px;
height: 1px;

background: #D9D9D9;

/* Inside auto layout */

flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}
.layanan-harga{
  /* Layanan */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 24px;
gap: 21px;

width: 251px;
height: 182px;


/* Inside auto layout */

flex: none;
order: 3;
flex-grow: 0;
}

.frame-layanan-harga{
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 151px;
height: 23px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.txt-frame-harga{
  width: 151px;
height: 23px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
text-align: center;

/* Black 100 */

color: #455A64;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.frame-layanan-harga1{
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 148px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;

}

.icon-ckls{
  width: 24px;
height: 24px;

/* Orange 500 */

background: #E9520B;
border-radius: 50px;

/* Inside auto layout */

flex: none;
order: 0;
}

.vektor-ckls{
  position: absolute;
left: 25.53%;
right: 23.52%;
top: 29.77%;
bottom: 29.69%;

/* White */

background: #FFFFFF;
}

.check{
  position: absolute;
width: 18px;
height: 18px;
left: 3px;
top: 3px;
}

.txt-frame-harga1{
  width: 116px;
height: 23px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
text-align: center;

/* Black 100 */

color: #455A64;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.frame-layanan-harga2{
  
/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 251px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.txt-frame-harga2 {
  /* $29/month */


width: 219px;
height: 23px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
text-align: center;

/* Black 100 */

color: #455A64;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.frame-layanan-harga3{
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 189px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 3;
flex-grow: 0;
}

.txt-frame-harga3{
  width: 157px;
height: 23px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
text-align: center;

/* Black 100 */

color: #455A64;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.subs2{
  /* Subs */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 24px;
gap: 33px;

position: absolute;
width: 317px;
height: 545px;
left: 351px;
top: 0px;

background: #F9F7F7;
/* Black 20 */

border: 1px solid #CED2D3;
border-radius: 8px;
}

.btn-harga1{
  /* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 269px;
height: 54px;

/* Orange 500 */

background: #E9520B;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.txt-btn-harga1{
  width: 77px;
height: 54px;

/* Button/Medium/Reg */

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 54px;
/* identical to box height, or 225% */

text-align: center;
letter-spacing: 0.24em;
text-transform: uppercase;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.subs3{
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 24px;
gap: 33px;

position: absolute;
width: 317px;
height: 545px;
left: 702px;
top: 0px;

background: #F9F7F7;
/* Black 20 */

border: 1px solid #CED2D3;
border-radius: 8px;
}

.txt-ifyou{
  position: absolute;
width: 678px;
height: 144px;
left: 305px;
top: 4629px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 72px;
/* or 112% */

text-align: center;

color: #414141;
}

.btn-ifyou{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;
  
  position: absolute;
  width: 296px;
  height: 54px;
  left: 492px;
  top: 4796px;
  
  /* Orange 500 */
  
  background: #E9520B;
  border-radius: 4px;
}

.txt-btn-ifyou{
  width: 264px;
  height: 54px;
  
  /* Button/Medium/Reg */
  
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 54px;
  /* identical to box height, or 225% */
  
  text-align: center;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  
  /* White */
  
  color: #FFFFFF;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

.rektengle1{
  position: absolute;
width: 281px;
height: 245px;
left: 196px;
top: 4939px;

background: url(/public/assets/adp/rektengle1.png);
border-radius: 24px;
}

.rektengle2{
  position: absolute;
  width: 281px;
  height: 245px;
  left: 499px;
  top: 4939px;
  
  background: url(/public/assets/adp/rektangle3.png);
  border-radius: 24px;
}

.rektengle3{
  position: absolute;
width: 281px;
height: 245px;
left: 809px;
top: 4939px;

background: url(/public/assets/adp/rektangle2.png);
border-radius: 24px;
}
.kanan{
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 32px;
height: 32px;
left: 1111px;
top: 5056px;

/* Orange 500 */

background: #E9520B;
/* Orange 500 */

border: 1px solid #E9520B;
border-radius: 50px;
}

.kiri{
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 32px;
height: 32px;
left: 151px;
top: 5056px;

/* Orange 500 */

background: #E9520B;
/* Orange 500 */

border: 1px solid #E9520B;
border-radius: 50px;
}

