.frame-booking{
    position: absolute;
width: 801px;
height: 596px;
left: 240px;
top: 171px;

background: #FFFFFF;
}

.frame-b-1{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 80px 32px;
gap: 14px;

position: absolute;
width: 271px;
height: 596px;
left: 0px;
top: 0px;

border: 1px solid #979797;
}

.txt-b-1{
    width: 207px;
height: 106px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 52px;

color: #444444;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.frame-time{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 207px;
height: 30px;


/* Inside auto layout */

flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}

.iconTime{
width: 18px;
height: 18px;


flex: none;
order: 0;
flex-grow: 0;
}

.txt-iconTime{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 30px;


color: #444444;

flex: none;
order: 1;
flex-grow: 0;
}

.txt-date{
    position: absolute;
width: 349px;
height: 36px;
left: 298px;
top: 93px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #444444;
}

.frame-calendar-1{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px 24px;
gap: 34px;

position: absolute;
width: 530px;
height: 267px;
left: 271px;
top: 177px;
}

.frame-calendar-2{
    display: flex;
flex-direction: column;
align-items: center;
padding: 16px 0px;
gap: 20px;

width: 293px;
height: 273px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.line-calendar{
    width: 1px;
height: 267px;

background: #D9D9D9;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.frame-pick-time{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px;
gap: 8px;

width: 150px;
height: 267px;

opacity: 0.5;

/* Inside auto layout */

flex: none;
order: 2;

}

.frame-pt-1{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 120px;
height: 34px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.frame-pt-2{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 120px;
height: 34px;

/* Orange 500 */

border: 1px solid #E9520B;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.txt-pick-time{
width: 58px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 120%;
/* or 14px */

display: flex;
align-items: center;
text-align: center;

color: #444444;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.txt-pick-time-1{
width: 31px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 120%;
/* or 14px */

display: flex;
align-items: center;
text-align: center;

/* Orange 500 */

color: #E9520B;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.frame-btn-calendar{
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
padding: 32px 24px;
gap: 13px;

position: absolute;
width: 528px;
height: 98px;
left: 272px;
top: 498px;

background: #FFFFFF;
}

.frame-btn-cancel{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 120px;
height: 34px;

/* Orange 500 */

border: 1px solid #E9520B;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.btn-cancel-calendar{
    width: 40px;
    height: 14px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    /* Orange 500 */
    
    color: #E9520B;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame-btn-next-calendar{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 120px;
height: 34px;

background: #C4C4C4;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.btn-next-calendar{
    width: 30px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 120%;
/* or 14px */

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}