.container-demo{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 678px;
height: 526px;
left: 301px;
top: 149px;

}

.txt-demo{
    width: 678px;
height: 72px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 72px;
/* identical to box height, or 129% */


color: #414141;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.txt-demo1{
    width: 678px;
height: 24px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */


color: #414141;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.frame1-demo{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 678px;
height: 116px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.txt-email{
    height: 36px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #414141;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.txt-company{
    width: 678px;
height: 36px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #414141;


/* Inside auto layout */

flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
}