.container-demo{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 678px;
height: 526px;
left: 301px;
top: 149px;

}

.txt-demo{
    width: 678px;
height: 72px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 72px;
/* identical to box height, or 129% */


color: #414141;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.txt-demo1{
    width: 678px;
    height: 24px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    
    
    color: #414141;
    
    
    /* Inside auto layout */
    
    
}

.frame1-demo{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 678px;
height: 116px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.form-email{
    box-sizing: border-box;
  
  /* Auto layout */
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;
  
  width: 678px;
  height: 56px;
  
  /* Gray 50 */
  
  border: 1px solid #DADADA;
  border-radius: 4px;
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
  }

.txt-email{
    height: 36px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #414141;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.txt-company{
    width: 678px;
height: 36px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #414141;


/* Inside auto layout */

flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
}

.form{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 678px;
height: 116px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.txt-form-email{
    width: 678px;
height: 36px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #414141;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.txt-clicking{
    width: 678px;
height: 24px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */


color: #414141;


/* Inside auto layout */

flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;
}

.frame-btn-demo{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;



/* Inside auto layout */

flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;
}

.btn-video-demo{
box-sizing: border-box;


display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 327px;
height: 54px;

background: #FFFFFF;
/* Orange 500 */

border: 1px solid #E9520B;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}

.btn-video{
width: 327px;
height: 54px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 54px;

letter-spacing: 0.24em;
text-transform: uppercase;


color: #E9520B;

flex: none;
order: 0;
flex-grow: 0;
}

.btn-book{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 327px;
height: 54px;

/* Orange 500 */

background: #E9520B;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 1;
}

.btn-call{
width: 327px;
height: 54px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 54px;

text-align: center;
letter-spacing: 0.24em;
text-transform: uppercase;


color: #FFFFFF;
}